.details-page{
    flex-shrink: 0;
    width: 100%;
    transition: opacity ease-in .5s;
    opacity: 1;
    height: fit-content;
}

.course-details-box{
    background-color: var(--details-course-box-color);
}
.add-to-favourites-box button{
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-items:center ;
}
.details-page-heart{
   margin-top: 10px;
   display: block;
}

.details-page-container{
    padding-inline-start:19.29% ; /*17.29%*/
    display: flex;
}

.course-details{
    width: calc(50% - 30px);
    padding: 30px 10px 30px 0px;
    margin-right: 30px;
}

.course-details h4{
    color: var(--brand-secondary);
    font-weight: 400;
    font-size: inherit;
}

.course-details h5{
    color: var(--details-page-course-box-text-color);
    font-size: 1.5rem;
    font-weight: bold;
}





.course-details p{
    color: var(--details-page-course-box-text-color);
    font-size: 1.01rem;
}

.add-to-favourites-box p{
    color: black;
}

/* course card ////////////////////////////////////////////////////////////////////////////////////////////////// */

.details-page-card-contianer{
    margin-top: 30px;
    width: 320px;
    position: relative;
}

.details-page-card-contianer-smallscreen{
    display: none;
}

.details-page-card{
    background-color:var(--details-page-card-background);
    width: 320px;
    padding: 2px;
    box-shadow: 0px 0px 14px -8px rgb(0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
}

.details-page-card-thumbnail{
    height: 200px;
}

.details-page-card-thumbnail img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    vertical-align: middle;
}

.details-page-card-custom-container{
    padding:14px 14px;
}

.details-page-card-custom-container h4{
    padding: 0 0 11px 0 ;
    font-size: inherit;
    color: var( --details-page-card-text-color);
}

.details-page-card-custom-container h4 span{
    font-weight: bold;
    font-size: inherit;
    color: var(--details-page-card-text-color);
}

.details-page-card-custom-container h4 a{
    color: var(--brand-primary);
}

.add-to-favourites-box{
    padding: 20px 20px 10px 20px;
    border: 1px solid var( --border-colors);
}

.add-to-favourites-box p{
    margin-bottom: 0;
    padding-bottom: 10px;
}

.add-to-favourites-box button{
    width: 100%;
    border: 0;
    text-align: center;
    margin:0 0 10px 0;
    /* padding:3px 0 17px 0; */
    background-color: var(--brand-secondary);
    color:var(--details-page-card-add-to-favourites);
    font-size: 1.25rem;
    box-shadow: 0px 0px 8px -5px rgb(0, 0, 0);
}

.details-page-heart{
    padding-left: 8px;
    font-size: 2rem;
}

.add-to-favourites-box h6{
    color: gray;
    font-size: .8rem;
    text-align: center;
    font-weight: 400;
}





@media(max-width: 440px){

   
    .details-page-container{
        padding: 15px;
        width: 100%;
    } 
    .details-page-container
    {

        display: flex;
        flex-direction: column;
    }
    .details-page-card-contianer{
        position: static !important;
        margin: auto;
        padding: 25px 0 15px 0
    }

    .details-page-card-contianer-largescreen{
        display: none;
    }

    .details-page-card-contianer-smallscreen{
        display: block;
    }

    .details-page-card{
        position: static !important;
    }


    /* .course-details-box-container{
        display: block;
        padding: 0;
    } */
    
    .course-details{
        padding: 0;
        width: 100%;
        margin: 0;
    }
    

}


@media(min-width: 441px) and (max-width:479px){
    .details-page{
        display: flex;
        flex-wrap: wrap;
    }
    .details-page-container{
        padding: 20px;
        width: 100%;
    }
    .details-page-container
    {

        display: flex;
        flex-direction: column;
    }

    /* .course-details-box-container{
        display: block;
        padding: 0;
    } */
    
    .course-details{
        padding: 0;
        width: 100%;
        margin: 0;
    }
    
    .details-page-card-contianer{
        position: static !important;
        margin: auto;
        padding: 0 0 10px 0;
    }

    .details-page-card-contianer-largescreen{
        display: none;
    }

    .details-page-card-contianer-smallscreen{
        display: block;
    }

    .details-page-card{
        position: static !important;
    }
    

}

@media(min-width: 480px) and (max-width:519px){
    .details-page{
        display: flex;
        flex-wrap: wrap;
    }

    .details-page-container{
        padding: 25px;
        width: 100%;
    }

    /* .course-details-box-container{
        display: block;
        padding: 0;
    } */
    
    .course-details{
        padding: 0;
        width: 100%;
        margin: 0;
    }

    .details-page-card-contianer{
        position: static !important;
        margin: auto;
        padding: 0 0 10px 0;
    }

    .details-page-card-contianer-largescreen{
        display: none;
    }

    .details-page-card-contianer-smallscreen{
        display: block;
    }

    .details-page-card{
        position: static !important;
    }
    

}

@media(min-width:520px) and (max-width: 649px){
    .details-page{
        display: flex;
        flex-wrap: wrap;
    }
    .details-page{
        display: flex;
        flex-wrap: wrap;
    }

    .details-page-container{
        padding: 30px;
        width: 100%;
    }

    /* .course-details-box-container{
        display: block;
        padding: 0;
    } */
    
    .course-details{
        padding: 0;
        width: 100%;
        margin: 0;
    }
    .details-page-card-contianer{
        position: static !important;
        margin: auto;
        padding: 0 0 10px 0;
    }

    .details-page-card-contianer-largescreen{
        display: none;
    }

    .details-page-card-contianer-smallscreen{
        display: block;
    }

    .details-page-card{
        position: static !important;
    }
    

}


@media(min-width:650px) and (max-width: 759px){

    .details-page-container{
        padding: 35px;
        width: 100%;
    }

    /* .course-details-box-container{
        display: block;
        padding: 0;
    } */
    
    .course-details{
        padding: 0;
        width: 100%;
        margin: 0;
    }


    .details-page-card-contianer{
        position: static !important;
        padding: 35px 35px 10px 0;
        width: 50%;
        margin-top: 0;
    }

    .details-page-card{
        width: auto;
    }

    .details-page-card-contianer-largescreen{
        display: none;
    }

    .details-page-card-contianer-smallscreen{
        display: block;
    }

    .details-page-card{
        position: static !important;
    }
    


}
@media(min-width: 760px) and (max-width: 767px){

    .details-page-container{
        padding: 35px;
        width: 100%;
    }

    /* .course-details-box-container{
        display: block;
        padding: 0;
    } */
    
    .course-details{
        padding: 0;
        width: 100%;
        margin: 0;
    }

    .details-page-card-contianer{
        position: static !important;
        padding: 35px 35px 0 0;
        width: 50%;
        margin-top: 0;
    }

    .details-page-card{
        /* width: auto; */
        margin-left: auto;
    }

    .details-page-card-contianer-largescreen{
        display: none;
    }

    .details-page-card-contianer-smallscreen{
        display: block;
    }

    .details-page-card{
        position: static !important;
    }
    

}


@media(min-width: 768px) and (max-width: 799px){


    .details-page-container{
        padding: 35px;
        width: 100%;
    }

    /* .course-details-box-container{
        display: block;
        padding: 0;
    } */
    
    .course-details{
        padding: 0;
        width: 100%;
        margin: 0;
    }

      
    .details-page-card-contianer{
        position: static !important;
        padding: 35px 35px 10px 0;
        width: 48%;
        margin-top: 0;
    }

    .details-page-card{
        /* width: auto; */
        margin-left: auto;
    }

    .details-page-card-contianer-largescreen{
        display: none;
    }

    .details-page-card-contianer-smallscreen{
        display: block;
    }

    .details-page-card{
        position: static !important;
    }
  

}


@media(max-width: 792px){
  
    .details-page-container
    {

        display: flex;
        flex-direction: column;
    }
}