.details-page-sub-topics-container{
    padding-top: 30px;
 }
 
 
 .course-sub-topics{
     width: calc(50% - 30px);
     border: 1px solid var(--lines-color);
     border-radius: 5px;
     background-color: var(--bg_default);
     transition-property:border-color, background-color;
     transition-duration: .5s;
     transition-timing-function: ease-in;
 }
 
 .course-sub-topic{
     display: flex;
     justify-content: center;
     border-bottom: 1px solid var(--lines-color);
     padding: 15px 5px 15px 30px;
     column-gap: 3%;
     transition:border-color, ease-in, .5s; 
 }
 
 .course-sub-topic:last-child{
     border: 0;
 }
 
 .course-sub-topic h2{
     color: var(--body-text);
     font-size: 1.6em;
     font-weight: bold;
 }
 
 .course-sub-topic h3 {
     color: var(--body-text);
     font-size: 1rem;
     display: flex;
     font-family: Nunito-Sans;
     align-items: center;
     width: 95%;
     font-weight: 400;
 }
 
 .course-sub-topic .checkmark{
     font-size: 1.6rem;
     color: var(--brand-secondary);
     width: 6%;
 }

 .details-page-container{
    padding-inline-start:19.29% ; /*17.29%*/
    display: flex;
}

/**
Media queries
*/

@media(max-width: 440px){

.course-sub-topics{
    width: 100%;
}

/* .details-page-sub-topics-container{
    padding: 0 15px;
} */

.course-sub-topics-list{
    margin-bottom: 0;
}

.course-sub-topic h3{
    width:91% ;
}

.course-sub-topic .checkmark{
    font-size: 1.5rem;
    width: 9%;
}

.details-page-container{
    padding: 15px;
    width: 100%;
}





.course-sub-topics{
    width: 100%;
}

/* .details-page-sub-topics-container{
    padding: 0 15px;
} */

.course-sub-topics-list{
    margin-bottom: 0;
}

.course-sub-topic h3{
    width:91% ;
}

.course-sub-topic .checkmark{
    font-size: 1.5rem;
    width: 9%;
}
}

@media(min-width: 441px) and (max-width:479px){

    .details-page-container{
        padding: 20px;
        width: 100%;
    }
    .course-sub-topics{
 
    width: 100%;
    margin-top: 0;
}

/* .details-page-sub-topics-container{
    padding: 0 15px;
} */

.course-sub-topics-list{
    margin-bottom: 0;
}

.course-sub-topic h3{
    width:91% ;
}

.course-sub-topic .checkmark{
    font-size: 1.5rem;
    width: 9%;
}


}

@media(min-width: 480px) and (max-width:519px){

    .course-sub-topics{
        width: 100%;
        margin-top: 0;
    }

    /* .details-page-sub-topics-container{
        padding: 0 15px;
    } */

    .course-sub-topics-list{
        margin-bottom: 0;
    }

    .course-sub-topic h3{
        width:91% ;
    }

    .course-sub-topic .checkmark{
        font-size: 1.5rem;
        width: 9%;
    }
    .details-page-container{
        padding: 25px;
        width: 100%;
    }

}

@media(min-width:520px) and (max-width: 649px){
    .details-page-container{
        padding: 30px;
        width: 100%;
    }
    .course-sub-topics{
        width: 100%;
        margin-top: 0;
    }

    /* .details-page-sub-topics-container{
        padding: 0 15px;
    } */

    .course-sub-topics-list{
        margin-bottom: 0;
    }

    .course-sub-topic h3{
        width:91% ;
    }

    .course-sub-topic .checkmark{
        font-size: 1.5rem;
        width: 9%;
    }
    

   
}

@media(min-width:650px) and (max-width: 759px){



    .course-sub-topics{
        width: 100%;
        margin-top: 0;
    }

    .details-page-sub-topics-container{
        width: 50% !important;
        padding-inline-end: 20px !important;
    }

    .course-sub-topics-list{
        margin-bottom: 0;
    }

    .course-sub-topic h3{
        width:91% ;
    }

    .course-sub-topic .checkmark{
        font-size: 1.5rem;
        width: 9%;
    }
    .details-page-container{
        padding: 35px;
        width: 100%;
    }
    


}


@media(min-width:650px) and (max-width: 759px){
    .details-page-container{
        padding: 35px;
        width: 100%;
    }
    .course-sub-topics{
        width: 100%;
        margin-top: 0;
    }

    .details-page-sub-topics-container{
        width: 50% !important;
        padding-inline-end: 0 !important;
        padding-bottom: 0 !important;
    }

    .course-sub-topics-list{
        margin-bottom: 0;
    }

    .course-sub-topic h3{
        width:91% ;
    }

    .course-sub-topic .checkmark{
        font-size: 1.5rem;
        width: 9%;
    }
    

}




@media(min-width: 760px) and (max-width: 767px){

    .course-sub-topics{
        width: 100%;
        margin-top: 0;
    }

    .details-page-sub-topics-container{
        width: 52% !important;
        padding-inline-end: 0 !important;
        padding-bottom: 0 !important;
    }

    .course-sub-topics-list{
        margin-bottom: 0;
    }

    .course-sub-topic h3{
        width:91% ;
    }

    .course-sub-topic .checkmark{
        font-size: 1.5rem;
        width: 9%;
    }
    .course-sub-topics{
        width: 100%;
        margin-top: 0;
    }
    .details-page-container{
        padding: 35px;
        width: 100%;
    }
    

}