.darkMode{
    --bg_default:#1A1A1A !important;
    --bg_body:#282828 !important;
    --lines-color:#000000 !important;
    --body-text:#EDEDED !important;
    --heart-color:#DC143C !important;
  }
  

  .body{
    font-family: Nunito-Sans;
    background-color: var(--bg_body);
    line-height: normal; 
    transition: background-color, ease-in .5s;
  }